body {
  min-width: 320px;
  overflow-x: hidden; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

.page {
  height: 100%; }

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000; }

.content {
  flex: 1 0 auto; }

.page-header {
  padding: 20px 0;
  background-color: #f6f4f4; }

.page-header__logo {
  margin-right: 50px; }

.navbar-toggler-icon {
  background-image: url("../img/menu.webp");
  background-repeat: no-repeat; }
  .navbar-toggler-icon:focus {
    outline: none;
    opacity: 0.8; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

.user-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

.user-nav__link--sign-in,
.user-nav__link--sign-up {
  color: #686666;
  text-decoration: none; }
  .user-nav__link--sign-in:hover,
  .user-nav__link--sign-up:hover {
    color: #000000;
    opacity: 0.8; }
  .user-nav__link--sign-in:focus,
  .user-nav__link--sign-up:focus {
    outline: none;
    opacity: 0.8; }

.user-nav__link--sign-in {
  padding-left: 20px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: left center; }

.user-nav__link--sign-up {
  padding-left: 25px;
  background-image: url("../img/user-in.svg");
  background-repeat: no-repeat;
  background-position: left center; }

.navbar-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto; }

.user-nav__item {
  margin-right: 20px;
  padding: 10px 15px;
  font-size: 14px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05); }
  .user-nav__item:last-child {
    margin-right: 0; }

.site-list__link {
  margin-right: 30px;
  font-size: 14px;
  color: #686666;
  text-decoration: none; }
  .site-list__link:hover {
    color: #686666;
    opacity: 0.7; }
  .site-list__link:focus {
    outline: none;
    opacity: 0.7; }

.navbar-expand-lg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.socials {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: baseline; }

.socials__item {
  margin-right: 5px;
  margin-bottom: -5px; }

.socials__link:hover {
  opacity: 0.7; }

.socials__link:focus {
  outline: none;
  opacity: 0.7; }

@media screen and (max-width: 991px) {
  .main-nav__list {
    width: 100%; }
  .socials {
    width: 100%;
    margin-top: 30px; }
  .user-nav {
    width: 100%;
    margin-top: 40px; }
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    margin-top: 30px; }
  .user-nav__item {
    margin-bottom: 30px;
    font-size: 16px; }
  .site-list__link {
    font-size: 16px; }
  .site-list__item {
    margin-bottom: 20px; } }

.main-screen {
  position: relative;
  padding: 140px 0 90px;
  min-height: 533px;
  background-image: url("../img/main-bg.webp");
  background-repeat: no-repeat;
  background-position: right center; }

.main-screen__title {
  margin-left: 100px;
  font-weight: 600;
  font-size: 64px; }

.modal-header .modal-title {
  text-align: center; }

.main-screen__subtitle {
  margin-top: 30px;
  margin-left: 100px;
  font-size: 16px;
  line-height: 26px;
  color: #3b3b3b; }

.main-button {
  display: block;
  width: 200px;
  margin-top: 50px;
  margin-left: 100px;
  padding: 15px 40px;
  font-size: 14px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  background-color: #f3fb04;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1); }
  .main-button:hover {
    color: #3b3b3b;
    opacity: 0.8; }
  .main-button:focus {
    outline: none;
    opacity: 0.8; }

@media screen and (max-width: 1199px) {
  .main-screen__title,
  .main-button,
  .main-screen__subtitle {
    margin-left: 0; } }

@media screen and (max-width: 991px) {
  .main-screen {
    background-image: url("../img/main-bg.webp");
    background-size: 100%;
    background-position: center 90%;
    padding-bottom: 550px;
    padding-top: 70px; }
  .main-screen__title,
  .main-button,
  .main-screen__subtitle {
    margin-left: 0; } }

@media screen and (max-width: 767px) {
  .main-screen {
    padding-bottom: 450px;
    padding-top: 50px; }
  .main-screen__title,
  .main-button,
  .main-screen__subtitle {
    margin-left: 0; } }

@media screen and (max-width: 576px) {
  .main-screen {
    padding-bottom: 430px; } }

@media screen and (max-width: 540px) {
  .main-screen {
    padding-bottom: 400px;
    padding-top: 50px; }
  .main-screen__title,
  .main-button,
  .main-screen__subtitle {
    margin-left: 0; } }

@media screen and (max-width: 500px) {
  .main-screen {
    padding-top: 50px;
    padding-bottom: 350px;
    background-size: 100%;
    background-position: center 90%; }
  .main-screen__title {
    font-size: 48px; } }

@media screen and (max-width: 500px) {
  .main-screen {
    padding-bottom: 280px; } }

.about-us {
  background-color: #f6f4f4; }

.about-us--wrapper {
  padding: 100px 0;
  padding-left: 550px;
  background-image: url("../img/about.webp");
  background-size: 445px auto;
  background-repeat: no-repeat;
  background-position: left center; }

.title {
  margin-bottom: 20px;
  margin-left: 500px;
  font-weight: 600;
  font-size: 30px; }

.about-us__subtitle {
  width: 50%;
  margin-left: 500px;
  font-size: 15px;
  line-height: 28px;
  color: #3b3b3b; }

@media screen and (max-width: 991px) {
  .about-us--wrapper {
    padding: 100px 0;
    padding-left: 0;
    padding-bottom: 500px;
    background-repeat: no-repeat;
    background-position: center 90%;
    background-size: 100%; }
  .title {
    margin-left: 0; }
  .about-us__subtitle {
    width: 100%;
    margin-left: 0; } }

@media screen and (max-width: 767px) {
  .about-us--wrapper {
    padding-top: 70px;
    padding-bottom: 430px;
    padding-left: 0;
    background-position: center 90%;
    background-size: 100%; }
  .title {
    margin-left: 0; }
  .about-us__subtitle {
    width: 100%;
    margin-left: 0; } }

@media screen and (max-width: 500px) {
  .about-us--wrapper {
    padding-bottom: 350px; }
  .title {
    font-size: 25px; } }

@media screen and (max-width: 400px) {
  .about-us--wrapper {
    padding-bottom: 300px;
    background-size: 100%; } }

.services {
  margin-top: 100px; }
  .services h2 {
    margin-left: 0;
    text-align: center; }

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px; }

.services__item {
  margin-bottom: 30px;
  padding: 40px;
  background-color: #f6f4f4;
  background-repeat: no-repeat;
  background-position: 95% 10%;
  border-radius: 5px; }

.services__item--loyalty,
.services__item--connection {
  width: 48%; }

.services__item--loyalty {
  background-image: url("../img/pig.svg"); }

.services__item--connection {
  background-image: url("../img/arrows.svg"); }

.services__item--analize {
  background-position: right center;
  background-image: url("../img/man.webp"); }

.services__item--analize .services__item-subheader {
  width: 60%; }

.services__item-header {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px; }

.services__item-subheader {
  font-size: 15px;
  line-height: 28px;
  color: #3b3b3b;
  margin-bottom: 0; }

@media screen and (max-width: 992px) {
  .services__item--loyalty,
  .services__item--connection {
    background-size: 50px auto; }
  .services__item--analize {
    background-position: right center; }
  .services__item--analize .services__item-subheader,
  .services__item--analize .services__item-header {
    width: 50%; } }

@media screen and (max-width: 768px) {
  .services__list {
    flex-direction: column; }
  .services__item {
    width: 100%; }
  .services__item--loyalty,
  .services__item--connection {
    background-size: 60px auto; }
  .services__item--analize .services__item-subheader,
  .services__item--analize .services__item-header {
    width: 100%; }
  .services__item--analize {
    padding-bottom: 250px;
    background-image: url("../img/man-tablet.webp");
    background-position: bottom center; } }

@media screen and (max-width: 576px) {
  .services {
    margin-top: 70px; } }

@media screen and (max-width: 350px) {
  .services__item--loyalty,
  .services__item--connection {
    padding: 20px;
    background-size: 50px auto; }
  .services__item-header {
    font-size: 18px; }
  .services__item--analize {
    padding: 20px;
    padding-bottom: 220px; } }

.application {
  margin-top: 100px;
  background-color: #f6f4f4; }
  .application h2 {
    margin-left: 0; }

.application__wrapper {
  padding: 100px;
  background-image: url("../img/clients.webp");
  background-size: 445px auto;
  background-repeat: no-repeat;
  background-position: 90% center; }

.application__subtitle {
  width: 50%;
  font-size: 15px;
  line-height: 28px;
  color: #3b3b3b; }

.application__btn {
  width: 250px;
  margin-left: 0; }

@media screen and (max-width: 991px) {
  .application__wrapper {
    background-position: center 90%;
    background-size: 100%;
    padding-bottom: 550px;
    padding-top: 70px; }
  .application__subtitle {
    width: 100%; } }

@media screen and (max-width: 767px) {
  .application__wrapper {
    padding-right: 0;
    padding-bottom: 420px;
    padding-left: 0;
    padding-top: 70px;
    background-position: center 90%;
    background-size: 100%; }
  .application__subtitle {
    width: 100%; } }

@media screen and (max-width: 576px) {
  .application {
    margin-top: 70px;
    padding-top: 70px; }
  .application__wrapper {
    padding-top: 0; } }

@media screen and (max-width: 480px) {
  .application__wrapper {
    padding-bottom: 350px;
    background-size: 100%; } }

@media screen and (max-width: 400px) {
  .application__wrapper {
    padding-bottom: 300px; } }

.advantages {
  margin-top: 100px; }
  .advantages h2 {
    margin-left: 0;
    text-align: center; }

.advantages__subtitle {
  display: block;
  width: 70%;
  margin: 0 auto;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #3b3b3b; }
  .advantages__subtitle span {
    font-weight: 600; }

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 50px; }

.advantages__item {
  width: 23%;
  padding-top: 90px;
  font-size: 15px;
  text-align: center;
  color: #3b3b3b;
  background-repeat: no-repeat;
  background-position: top center; }

.advantages__item--cards {
  background-image: url("../img/cards.webp"); }

.advantages__item--coins {
  background-image: url("../img/coins.webp"); }

.advantages__item--people {
  background-image: url("../img/people.webp"); }

@media screen and (max-width: 992px) {
  .advantages__list {
    justify-content: space-between; }
  .advantages__item {
    width: 30%; } }

@media screen and (max-width: 768px) {
  .advantages__list {
    flex-direction: column;
    align-items: center; }
  .advantages__item {
    width: 50%;
    margin-bottom: 40px; } }

@media screen and (max-width: 576px) {
  .advantages {
    margin-top: 70px; }
  .advantages__subtitle {
    width: 95%; } }

.request {
  margin-top: 100px;
  padding: 100px 0;
  background-color: #f6f4f4; }
  .request h2 {
    margin-left: 0; }

.request__wrapper {
  display: flex;
  justify-content: space-around; }

.request__form {
  width: 350px;
  margin-left: 100px; }

.request__form-input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 15px;
  font-size: 14px;
  border: none;
  border-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1) inset; }
  .request__form-input:hover {
    opacity: 0.8; }
  .request__form-input:focus {
    outline: none;
    opacity: 0.8; }

.request__form-btn {
  margin-top: 20px;
  margin-left: 0;
  border: none; }

.request__subtitle {
  font-size: 15px;
  line-height: 28px;
  color: #3b3b3b; }

@media screen and (max-width: 992px) {
  .request__form {
    width: 500px;
    margin-right: 50px;
    margin-left: 0; } }

@media screen and (max-width: 768px) {
  .request__wrapper {
    flex-direction: column; }
  .request__form {
    order: 2;
    width: 100%;
    margin-top: 40px; }
  .request__title br {
    display: none; } }

@media screen and (max-width: 576px) {
  .request {
    margin-top: 70px;
    padding: 70px 0; } }

.page-footer {
  padding: 30px 0;
  background-color: #eaeaea; }

.footer {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.page-footer__text {
  margin-bottom: 10px;
  font-size: 15px;
  color: #3b3b3b; }
  .page-footer__text span {
    color: #000000; }

.page-footer__copyright {
  font-size: 14px;
  color: #3b3b3b; }

@media screen and (max-width: 992px) {
  .socials--footer {
    margin-top: 10px; }
  .page-footer__copyright {
    font-size: 13px; } }

@media screen and (max-width: 768px) {
  .footer {
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr; }
  .page-footer__copyright {
    font-size: 15px; }
  .page-footer__text {
    font-size: 16px; } }

@media screen and (max-width: 576px) {
  .footer {
    grid-template-columns: 1fr 1fr; } }

@media screen and (max-width: 400px) {
  .footer {
    grid-template-columns: 1fr; } }

.modal-input {
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #eaeaea;
  border-radius: 5px; }
  .modal-input:hover {
    opacity: 0.7; }
  .modal-input:focus {
    outline: none;
    opacity: 0.7; }

.modal-input-checkbox {
  width: auto; }

.modal-label {
  width: 100%;
  font-size: 14px;
  margin-right: 20px;
  margin-left: 10px; }

.modal-btn {
  padding: 10px 15px;
  font-size: 14px;
  color: #000000;
  background-color: #f3fb04;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px; }
  .modal-btn:hover {
    opacity: 0.7; }
  .modal-btn:focus {
    outline: none;
    opacity: 0.7; }

.modal-footer {
  display: flex;
  flex-direction: column; }

.modal-footer__wrapper {
  display: flex;
  align-items: center; }

.modal-link {
  text-align: center;
  margin-right: 10px;
  font-size: 14px;
  color: #3b3b3b;
  text-decoration: none; }
  .modal-link:hover {
    color: #3b3b3b;
    opacity: 0.8; }
  .modal-link:focus {
    outline: none;
    opacity: 0.8; }

.close {
  width: 18px;
  height: 18px;
  background-color: transparent;
  background-image: url("../img/close.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none; }
  .close:hover {
    opacity: 0.7; }
  .close:focus {
    outline: none;
    opacity: 0.7; }
